{% assign workwellwith = product.metafields.custom.works_well_with %}
{{ workwellwith }}

<div class="main_pdp_workwellwith">
  {% for product_handle in workwellwith %}
    {% assign product = all_products[product_handle] %}
    {% if product %}
      <h2>{{ product.title }}</h2>
    {% else %}
      <p>Product not found.</p>
    {% endif %}
  {% endfor %}
</div>


{% schema %}
{
  "name": "Custom Work Well With",
  "tag": "section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Custom Work Well With"
    }
  ]
}
{% endschema %}

