{% assign test_pdp = product.metafields.custom.works_well_with %}
YEs -- >{{ product.metafields.custom.works_well_with }}
{% assign related_product_ids = product.metafields.custom.works_well_with | split: ',' %}

<ul>
  {% for id in related_product_ids %}
    {% assign related_product = all_products[id] %}
    {% if related_product %}
      <li>{{ related_product.title }}</li>
    {% else %}
      <li>Product with ID {{ id }} not found.</li>
    {% endif %}
  {% endfor %}
</ul>

{% for pdp in product.metafields.custom.works_well_with %}
  {{ pdp }}
{% endfor %} 

{% schema %}
{
  "name": "PDP Test",
  "settings": [

   
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Product list"
    }
  ],
  "presets": [
    {
      "name": "PDP Test",
      "category": "Collection"
    }
  ]
}
  
{% endschema %}